/*----------------------------------------*/
/*  Portfolio Style 1
/*----------------------------------------*/
// .portfolio-area {
// 	position: relative;
// 	max-width: 1366px;
// 	margin: 0 auto;
// }
// Shuffle
.shuffle-wrapper {
    position: relative;
    text-align: center;
}
.shuffle-filter-btn {
    position: relative;
    text-align: center;
    display: block;
	margin-bottom: 50px;
	label.btn.active {
		color: $elementsColor;
	}
    label.btn {
        position: relative;
        font-size: 16px;
        letter-spacing: 0px;
        color: $secondaryColor;
        line-height: 24px;
        padding: 10px;
        &:focus {
            outline: none;
            box-shadow: none;
		}
		&:hover {
			color: $elementsColor;
		}
    }
    label.btn.focus {
        outline: none;
        box-shadow: none;
    }
    label.btn.active,
    label.btn:hover {
        text-decoration: underline;
    }
}
.bgDark {
	.shuffle-filter-btn {
		label.btn {
			color: $primaryColor;
			&:hover {
				color: $elementsColor;
			}
		}
		label.btn.active {
			color: $elementsColor;
		}
	}
	
}



.shuffle-box {
    position: relative;
    overflow: hidden;
}
.single-shuffle {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    &:hover {
        .ssf-hover {
			opacity: 1;
			top: 0;
			left: 0;
			height: 100%;
        	width: 100%;
            &:before {
				opacity: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
            i {
                font-size: 40px;
                color: $primaryColor;
            }
            img {
                opacity: 1;
            }
            
        }
    }
    img {
        display: block;
        width: 100%;
        max-width: none;
        height: 100%;
        -o-object-fit: cover;
            object-fit: cover;
    }
    .ssf-hover {
        position: absolute;
        height: 0;
        width: 0;
        top: 50%;
        left: 50%;
        z-index: 1;
        padding-top: 0px;
        background-color: rgba(11, 11, 11, .80);
        text-align: center;
        opacity: 0;
		@include transition(all,.5s,ease);
		&:before {
			position: absolute;
			content: '';
			height: 0;
			width: 0;
			top: 50%;
			left: 50%;
			z-index: 1;
			padding-top: 0px;
			background-color: rgba(11, 11, 11, .80);
			text-align: center;
			opacity: 0;
			@include transition(all,1.5s,ease);
			z-index: -1;
		}
        img {
			max-width: 35px;
			max-height: 35px;
			opacity: 0;
			margin: 0 auto;
		}
		a {
			padding-top: calc(50% - 23px);
			display: block;
			height: 100%;
			width: 100%;
		}

		
    }
    .aspect {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        .aspect__inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    .aspect--16x9 {
        padding-bottom: 56.25%;
    }
      
    .aspect--9x80 {
        padding-bottom: calc(112.5% + 30px);
    }
    
    .aspect--32x9 {
        padding-bottom: calc(28.125% - 8px);
    }
}



.sbox_V1 {
    .single-shuffle {
        margin-bottom: 0px;
        padding: 0px;
    }
}

.ssV1-2 {
    .ssf-hover {
        i {
            border: 1px solid $primaryColor;
			padding: 5px 8px;
			@include transition(all,.5s,ease);
        }
    }
}


.pf-8 .single-shuffle {
    margin-bottom: 0px;
}

/*------------- Portfolio Style 1 END -------------*/



/*----------------------------------------*/
/*  Portfolio Style 2
/*----------------------------------------*/




/* ---- grid ---- */

.fotolia-grid-2 {
  }
  
  /* clear fix */
  .fotolia-grid-2:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid2-sizer,
  .grid2-item {
    width: 33.333%;
  }
  
  .grid2-item {
    float: left;
	padding: 15px;
	
    img {
        display: block;
		max-width: 100%;
		transition: .5s ease;

	  }
	
  }
  

  /*------------- Portfolio Style 2 END -------------*/










/*----------------------------------------*/
/*  Portfolio Style 3
/*----------------------------------------*/




/* ---- grid ---- */

.fotolia-grid-3 {
}

/* clear fix */
.fotolia-grid-3:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid3-sizer,
.grid3-item {
  width: 25%;
}

.grid3-item {
  float: left;
  padding: 15px;
  img {
    display: block;
    max-width: 100%;
  }
}

/*------------- Portfolio Style 3 END -------------*/






/*----------------------------------------*/
/*  Portfolio Style 4
/*----------------------------------------*/


.sidemenu2-area {
	position: fixed;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 5;
	@include transition(all,.5s,ease); padding-left: 160px;
	max-width: 600px;
}

.sidemenu2-area.showsm2 {
	left: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.oNav {
	h3 {
		color: $primaryColor;
	}
}
.sideBar-fixed {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 160px;
	background-color: #191818;
	z-index: 9;
	.sfw-logo {
		position: relative;
		width: 100%;
		text-align: center;
		.logo {
			position: relative;
			margin: 25px auto;
		}
	}
	.sfw-menu-btn {
		.sf-toggle-btn {
			background-color: transparent;
			border-color: transparent;
			color: $primaryColor;
			font-size: 30px;
			&:hover {
				border-color: transparent;
				outline: none;
				box-shadow: none;
				color: $elementsColor;
				cursor: pointer;
			}
			&:focus {
				border-color: transparent;
				outline: none;
				box-shadow: none;
				color: $elementsColor;
				cursor: pointer;
			}
		}
		position: absolute;
		width: 100%;
		height: 50px;
		text-align: center;
		top: calc(50% - 25px);
		left: 0;
	}
	.sfw-social {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		ul {
			position: relative;
			padding: 0px;
			margin: 25px auto;
			text-align: center;
			li {
				a {
					position: relative;
					font-size: 16px;
					color: #2e2e2e;
					height: 36px;
					width: 36px;
					border: 2px solid #2e2e2e;
					display: block;
					margin: 5px auto;
					text-align: center;
					padding-top: 8px;
					&:hover {
						color: $elementsColor;
						border-color: $elementsColor;
					}
				}
			}
		}
	}

	.sf-wrapper {
		position: relative;
		height: 100%;
	}

	.sf-wrapper {
		position: relative;
		height: 100%;
	}
	
	.sfw-menu {
		top: calc(50% - 260px);
	}
}

.full-portfolio-wrapper {
	position: relative;
	padding-left: 160px;
}
.flexbox-portfolio {
	column-width: 235px;
	column-gap: 0px;
	padding: 0px;
	.item {
		img {
			width: 100%;
		}
		position: relative;
		a {
			position: absolute;
			bottom: 10px;
			left: 0;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0px;
			color: #eb9d37;
			z-index: 2;
			padding-left: 50px;
			padding-top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			
		}
		span.lpv {
			position: absolute;
			bottom: 2px;
			display: block;
			transition: .5s ease;
			opacity: 0;
		}
		&:hover {
			a {
				opacity: 1;
			}
			&:after {
				opacity: 0;
			}
			&:before {
				opacity: 1;
			}
			span.lpv {
				opacity: 1;
			}
		}
		&:after {
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: rgba(32, 32, 32, .80);
			z-index: 1;
			@include transition(all,.5s,ease); opacity: 1;
		}
		&:before {
			position: absolute;
			content: '';
			height: 2px;
			width: 40px;
			background-color: $elementsColor;
			bottom: 22px;
			left: 5px;
			z-index: 2;
			opacity: 0;
		}
	}
}
.fpi {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		span.lpb {
			position: absolute;
			bottom: 13px;
		}
		  
	}
}


/*------------- Portfolio Style 4 END -------------*/

/*----------------------------------------*/
/*  Portfolio Style 5
/*----------------------------------------*/

.single-5portfolio {
	position: relative;
	max-width: 325px;
	margin: 25px auto;
	z-index: 1;
	.sp-img {
		position: relative;
		img {
			width: 100%;
		}
		&:after,
		&:before {
			position: absolute;
			content: '';
			height: 0;
			width: 0;
			background-color: rgba(0, 0, 0, 0.25);
			z-index: 1;
			transition: .5s ease;
		}
		&:after {
			top: 0;
			right: 0;
		}
		&:before {
			bottom: 0;
			left: 0;
		}
	}
	.sp-text {
		position: absolute;
		left: -15px;
		bottom: 25px;
		width: 100%;
		z-index: 2;
		h3 {
			a {
				color: $primaryColor;
				font-size: 34px;
				line-height: 42px;
				letter-spacing: 0px;
				font-weight: 600;
			}
		}
		p {
			color: $primaryColor;
			font-size: 20px;
			line-height: 30px;
			font-weight: 400;
			a {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				font-weight: inherit;
			}
		}
	}

	&:hover {
		.sp-text {
			h3 {
				a {
					color: $elementsColor;
				}
			}
		}
		.sp-img {
			&:after,
		    &:before {
				height: 100%;
				width: 100%;
			}
		}
	}
}

/*------------- Portfolio Style 5 END -------------*/

/*----------------------------------------*/
/*  Portfolio Content Style 1
/*----------------------------------------*/


.portfolio-content-area {
	position: relative;
	padding: 80px 0px;
}
.single-pFolio-textImg {
	position: relative;
	overflow: hidden;
	background-color: $primaryColor;
	.spf-img {
		position: relative;
		img {
			width: 100%;
		}
	}
	.spf-text {
		position: relative;
		padding: 60px 25px;
		margin: 50px auto;
		max-width: 520px;
		h3 {
			font-size: 36px;
			letter-spacing: 0px;
			color: $secondaryColor;
			font-weight: 700;
			line-height: 44px;
		}
		p {
			font-size: 16px;
			color: $secondaryColor;
			line-height: 24px;
			margin: 25px auto;
		}
		a {
			font-size: 16px;
			letter-spacing: 0px;
			color: $secondaryColor;
			font-weight: 600;
			border: 1px solid $secondaryColor;
			display: inline-block;
			padding: 10px 20px;
			position: relative;
			z-index: 1;
			&:hover {
				color: $primaryColor;
				&:after {
					width: 100%;
				}
			}
			&:after {
				position: absolute;
				content: '';
				width: 0%;
				height: 100%;
				background-color: #43435b;
				left: 0;
				top: 0;
				z-index: -1;
				transition: .5s ease;
			}
		}
	}
}



/*------------- Portfolio Content Style 1 END -------------*/








/*----------------------------------------*/
/*  Portfolio Content Style 5
/*----------------------------------------*/

.portfolio11-area {
    position: relative;
    padding: 80px 0px;
    .container-fluid {
        max-width: 1199px;
    }
    
}

.single11-portfolio {
    position: relative;
    max-width: 300px;
    margin: 0px auto;
	padding: 10px;
	z-index: 1;
	&:hover {
		a {
			&:before,
			&:after {
				height: calc(100% - 20px);
				width: calc(100% - 20px);
			}
		}
		
	}
	a {
		
		&:after,
		&:before {
			position: absolute;
			content: '';
			height: 0;
			width: 0;
			background-color: rgba(0, 0, 0, 0.25);
			transition: .8s ease;
			z-index: 1;
		}
		&:after {
			top: 10px;
			left: 10px;
		}
		&:before {
			bottom: 10px;
			right: 10px;
		}
	}
}
.p11c-btn {
    position: relative;
    margin-top: 75px;
    text-align: center;
}
/*------------- Portfolio Style 5 END -------------*/


/*----------------------------------------*/
/*  Portfolio Content Style 5
/*----------------------------------------*/

.portfolio13-area {
    position: relative;
    padding: 0px;
    .pf13-title {
        position: relative;
        text-align: center;
        margin: 25px auto;
        padding: 40px 0px;
        span {
            font-size: 36px;
            letter-spacing: 0px;
            color: $primaryColor;
            font-family: $quaternaryFont;
            line-height: 44px;
            display: block;
            margin: 10px auto;
        }
        h3 {
            font-size: 24px;
            font-family: $quaternaryFont;
            letter-spacing: 0px;
            color: $primaryColor;
            line-height: 36px;
            font-weight: 400;
        }
    }
    
    .single-shuffle {
        margin: 0 auto;
    }
}
/*------------- Portfolio Content Style 5 END -------------*/



/*----------------------------------------*/
/*  Portfolio Style 6
/*----------------------------------------*/
.sfv2-open-om {
	position: absolute;
	right: -40px;
	top: 5px;
	height: 35px;
	width: 35px;
	background-color: #eb9d37;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	cursor: pointer;
	display: none;
}
.sideBar-fixed.sideBar-fixedV2 {
	width: 340px;
	
}
.sfv2-oc {
	display: none;
}
.full2-portfolio-wrapper {
	position: relative;
	margin-left: 340px;
	position: relative;
	margin-left: 340px;
	background-color: $primaryColor;
}

.portfolio6-content {
	position: relative;
	text-align: center;
	width: 100%;
	padding: 5px 0px;
}
.portfolio6-single {
	position: relative;
	display: inline-block;
	margin: 6px 4px;
	width: 25%;
	max-width: 235px;
	a {
		&:after,
		&:before {
			position: absolute;
			content: '';
			height: 0;
			width: 0;
			background-color: rgba(0, 0, 0, 0.25);
			z-index: 1;
			transition: .5s ease;
		}
		&:after {
			bottom: 0;
			right: 0;
		}
		&:before {
			top: 0;
			left: 0;
		}
		&:hover {
			&:after,
				&:before {
					height: 100%;
					width: 100%;
				}
		}
	}
}
.sfw-menu {
	position: relative;
	padding: 25px 0px;
	ul.sfw-menu-list {
		position: relative;
		padding: 0px;
		list-style-type: none;
		text-align: center;
		margin: 25px auto;
		li {
			position: relative;
			display: block;
			margin: 15px auto;
			a {
				color: #949090;
				font-size: 24px;
				line-height: 34px;
				letter-spacing: 0px;
				font-weight: 300;
				&:hover {
					color: $elementsColor;
				}
			}
		}
	}
}
.sideBar-fixedV2 {
	.sfw-social {
		ul {
			li {
				display: inline-block;
				a {
					border-radius: 50%;
					background-color: $elementsColor;
					border-color: $elementsColor;
					&:hover {
						color: $primaryColor;
						background-color: #000;
					}
				}
			}
		}
	}

	
	.sfw-menu {
		max-height: 300px;
		overflow: hidden;
		padding-bottom: 0px;
		overflow-y: scroll;
		/* width */
		&::-webkit-scrollbar {
			width: 2px;
		}
		
		/* Track */
		&::-webkit-scrollbar-track {
			background: #191818; 
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #191818; 
		}
		
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555; 
		}
	}
	
}

/*------------- Portfolio Style 6 END -------------*/


/*----------------------------------------*/
/*  Portfolio Style 7
/*----------------------------------------*/

.portfolio18-area {
	position: relative;
}
.single18-portfolio {
	position: relative;
	max-width: 337px;
	margin: 0 auto;
	overflow: hidden;
	.sp-hover {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 0%;
		width: 0%;
		text-align: center;
		background-color: rgba(16, 16, 21, .80);
		padding-top: 0%;
		opacity: 0;
		@include transition(all,.5s,ease);
		a {
			font-size: 24px;
			display: inline-block;
			margin-bottom: 15px;
			i {
				color: $primaryColor;
			}
		}
		h4 {
			color: $primaryColor;
			font-size: 26px;
			line-height: 36px;
			font-weight: 500;
			letter-spacing: 0px;
		}
		p {
			color: $primaryColor;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	&:hover {
		.sp-hover {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding-top: 33%;
			opacity: 1;
		}
	}
}

/*------------- Portfolio Style 7 END -------------*/

/*----------------------------------------*/
/*  Portfolio Style 8
/*----------------------------------------*/




/* ---- grid ---- */

.fotolia-grid-4 {
}

/* clear fix */
.fotolia-grid-4:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid4-sizer {
	width: 25%;
}
.grid4-item {
	width: 25%;
	float: left;
	padding: 0px;
	img {
		display: block;
		max-width: 100%;
	}
	a {
		position: relative;
		display: block;
		.g4i-hover {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(32, 32, 32, .90);
			@include transition(all,.5s,ease); border-bottom: 5px solid rgba(189, 119, 27, 0);
			p {
				font-size: 18px;
				color: $elementsColor;
				opacity: 0;
				position: absolute;
				bottom: 20px;
				left: 65px;
				&:before {
					position: absolute;
					content: '';
					height: 2px;
					width: 45px;
					background-color: #bd771b;
					left: -55px;
					bottom: 12px;
				}
			}
		}
	}
	&:hover {
		a {
			.g4i-hover {
				background-color: rgba(32, 32, 32, 0);
				border-bottom: 5px solid #bd771b;
				p {
					opacity: 1;
				}
			}
		}
	}
}


/*------------- Portfolio Style 8 END -------------*/

/*----------------------------------------*/
/*  Last Program Shots Style
/*----------------------------------------*/
.last-shot-area {
    position: relative;
}

.single-lShots {
    position: relative;
    max-width: 307px;
    margin: 15px auto;
    overflow: hidden;
    &:hover {
        .ls-hover{
            opacity: 1;
            top: 25px;
            left: 25px;
        }
    }
	.ls-img {
		position: relative;
		img {
			width: 100%;
		}
	}
	.ls-hover {
		position: absolute;
		top: -100%;
		left: -100%;
		height: calc(100% - 50px);
		width: calc(100% - 50px);
		padding-top: calc(50% - 30px);
		text-align: center;
		background-color: rgba(26, 26, 26, 0.65);
		opacity: 0;
		@include transition(all,.5s,ease);
		a {
			font-size: 26px;
			display: inline-block;
		}
		i {
			color: $primaryColor;
			border: 1px solid $primaryColor;
			padding: 8px;
		}
	}
}

/*------------- Last Program Shots Style END -------------*/




/*----------------------------------------*/
/*  Gallery3 Innerpage Style 
/*----------------------------------------*/

.innerpagetop-area {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 160px 0px 80px;
	.pipa-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img {
			height: 100%;
			width: 100%;
		}
		&:after {
			position: absolute;
			content: '';
			background-color: rgba(26, 26, 26, .85);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}
	.pipa-text {
		position: relative;
		padding: 40px 0px;
		text-align: center;
		max-width: 767px;
		margin: 0px auto;
		h3 {
			font-size: 44px;
			letter-spacing: 0px;
			color: $primaryColor;
			line-height: 60px;
			font-weight: 600;
		}
	}
}

/*------------- Gallery3 Innerpage Style END -------------*/




/*----------------------------------------*/
/*  Portfolio Page Style 1 
/*----------------------------------------*/

.innerpage-titlev3 {
	position: relative;
    margin-top: 100px;
    background-image: url(../img/bg/innertop-bg-3.jpg);
    padding: 60px 0px;
    background-size: cover;
    z-index: 1;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(26, 26, 26, .90);
		z-index: -1;
	}
	img.ipt-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -2;
	}
	.ipt-text {
		position: relative;
		padding: 25px 0px;
		text-align: center;
		h3 {
			font-size: 48px;
			letter-spacing: 0px;
			color: $primaryColor;
			font-weight: 600;
		}
	}
}


/*------------- Portfolio Page Style 1  END -------------*/



/*----------------------------------------*/
/*  Portfolio Page 7 
/*----------------------------------------*/

.portfolio-p7 {
    position: relative;
    max-width: 1199px;
    margin: 0 auto;
}

/*------------- Portfolio Page 7  END -------------*/
/*----------------------------------------*/
/*  Portfolio Page 10 
/*----------------------------------------*/

.pstyle10 {
	position: relative;
}
ul.ps10-list {
	position: relative;
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	li {
		position: relative;
		max-width: 165px;
		display: inline-block;
		margin: 0px -3px;
		a {
			position: relative;
			display: block;
			&:before {
				position: absolute;
				content: '';
				height: calc(100% - 20px);
				width: calc(100% - 20px);
				background-color: $tertiaryColor;
				opacity: 0;
				left: 10px;
				top: 10px;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../img/icon/focus-10.png);
				background-size: 100% 100%;
				height: 15px;
				width: 15px;
				left: calc(50% - 7px);
				top: calc(50% - 7px);
				@include transition(all,.5s,ease); opacity: 0;
			}
		}
		&:hover {
			a {
				&:before {
					opacity: .90;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

/*------------- Portfolio Page 10  END -------------*/


/*----------------------------------------*/
/*  Portfolio Page 12 
/*----------------------------------------*/

.portfolio12-content {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
    max-width: 1200px;
    margin: 0px auto;
    .portfolio6-single {
        max-width: 275px;
    }
}
/*------------- Portfolio Page 12  END -------------*/

/*----------------------------------------*/
/*  Portfolio Page 13 
/*----------------------------------------*/

.portfolio13-content {
	position: relative;
	.g5g-img {
		a {
			position: relative;
			&:after {
				position: absolute;
				content: '\f067';
				left: calc(50% - 20px) !important;
				top: calc(50% - 20px) !important;
				font-family: fontAwesome;
				color: $primaryColor;
				border: 2px solid $primaryColor;
				height: 40px !important;
				width: 40px !important;
				border-radius: 50%;
				text-align: center;
				font-size: 20px;
				padding-top: 4px;
				padding-left: 2px;
				@include transition(all,.5s,ease); opacity: 0;
			}
			&:before {
				position: absolute;
				content: '';
				height: 0%;
				width: 0%;
				background-color: rgba(26, 26, 26, .70);
				left: 0;
				bottom: 0;
				@include transition(all,.5s,ease); opacity: 0;
			}
			&:hover {
				&:before {
					height: 100%;
					width: 100%;
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
}


/*------------- Portfolio Page 13  END -------------*/
